<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <br><br>
            <h2>Create a new listing</h2>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
                    <div class="invalid-feedback">please enter title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
                    <div class="invalid-feedback">please enter short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="enter price" class="form-control" required>
                        <div class="invalid-feedback">price should be valid</div>
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
                    </div>
                    <div class="invalid-feedback">location should be valid</div>
                </div>

                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required> 
                    <div class="invalid-feedback">country name should be valid</div>
                </div>
    

                <button class="btn btn-dark add-btn mt-3">Add</button>
                <br><br>
            </form>
        </div>
    </div>

</body>
